# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Set the default stage to commit, only checking during submission
default_stages:
- commit

# Set the default language version, and you can also set language_version separately in each repos
default_language_version:
  python: python3.10

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-symlinks
    -   id: check-merge-conflict
    -   id: check-json
    -   id: check-toml
    -   id: name-tests-test
        args: [--maxkb=51200]

-   repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    -   id: black
