numpy >= 1.24.3
xarray >= 2014.10.0
geocat.viz
cartopy >= 0.20
xeofs >= 3.0.0
matplotlib
pandas >= 2.2.0
fast-barnes-py
oceans
intel-fortran-rt
dpcpp-cpp-rt
scipy >=1.8.0
statsmodels
geocat-comp
easyclimate-backend >= 2025.11.0
dask
pymannkendall
flox
xarray_regrid
gsw_xarray
pooch
zarr
metpy
tcpypi
netCDF4
h5netcdf
seaborn
EMD-signal
pybarnes
rich

pytest == 8.3.3
pytest-cov == 5.0.0
pytest-mpl == 0.17.0
pytest-xdist
pre-commit
twine
