numpy >= 1.24.3
xarray >= 2025.06.0
geocat.viz
cartopy >= 0.25
xeofs >= 3.0.0
matplotlib
pandas >= 2.2.0
fast-barnes-py
oceans
intel-fortran-rt
dpcpp-cpp-rt
scipy >=1.8.0
statsmodels
geocat-comp
easyclimate-backend >= 2025.12.1
easyclimate-rust >= 2026.1.0
dask
pymannkendall
flox
xarray_regrid
gsw_xarray
pooch
zarr
metpy
tcpypi
netCDF4
seaborn
EMD-signal
pybarnes
rich

pytest == 9.0.1
pytest-cov == 7.0.0
pytest-mpl == 0.18.0
pytest-xdist
pre-commit
twine
