numpy >= 1.24.3
xarray >= 0.17.0
geocat.viz
cartopy >= 0.20
xeofs >= 2.2.2
matplotlib
pandas >= 2.2.0
fast-barnes-py
oceans
intel-fortran-rt
dpcpp-cpp-rt
scipy >=1.8.0
statsmodels
geocat-comp
pyspharm-syl
windspharm-syl
dask
pymannkendall
flox
xarray-datatree
xarray_regrid
gsw_xarray
pooch
tqdm
zarr
metpy

sphinx == 6.2.1
recommonmark == 0.7.1
sphinx-markdown-tables == 0.0.17
sphinxcontrib-jupyter == 0.5.10
sphinx-inline-tabs == 2023.4.21
sphinx-gallery == 0.15.0
sphinx-autoapi == 3.0.0
sphinx-copybutton == 0.5.2
sphinx-book-theme == 1.1.2
