numpy >= 1.24.3
xarray >= 2025.06.0
geocat.viz
cartopy >= 0.25
xeofs >= 3.0.0
matplotlib
pandas >= 2.2.0
fast-barnes-py
oceans
intel-fortran-rt
dpcpp-cpp-rt
scipy >=1.8.0
statsmodels
geocat-comp
easyclimate-backend >= 2025.12.1
easyclimate-rust >= 2026.1.0
dask
pymannkendall
flox
xarray_regrid
gsw_xarray
pooch
zarr
metpy
tcpypi
netCDF4
seaborn
EMD-signal
pybarnes
rich
geopandas

sphinx == 8.2.3
recommonmark == 0.7.1
sphinx-markdown-tables == 0.0.17
sphinxcontrib-jupyter == 0.5.10
sphinx-inline-tabs == 2023.4.21
sphinx-gallery == 0.19.0
sphinx-autoapi == 3.6.1
sphinx-copybutton == 0.5.2
sphinx-book-theme == 1.1.4
sphinx_design == 0.6.1
snowballstemmer == 3.0.1
