name: Workflow for Codecov easyclimate-python
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Set up Python 3.12
        uses: actions/setup-python@v5.3.0
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install uv numba numpy
          uv pip install -r test_requirements.txt
      - name: Run tests and collect coverage
        run: pytest --mpl --mpl-baseline-path="test/baseline_images" --cov src
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
