name: Workflow for pre-commit

on:
    pull_request:
    push:
      branches: [main, dev]

jobs:
    main:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4.2.2
        - uses: actions/setup-python@v5.3.0
          with:
            python-version: '3.10'
        - uses: pre-commit/action@v3.0.1
        - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()
